In [1]:
import pandas as pd

In [2]:
# Read in the table... NA values occur for gener that were absent from V1V3 or V1V9 data, but not both. 
df = pd.read_table('00_data/amp_distance_1.0_genus_correlations.txt', index_col=0)
# convert the NA values to 0
df = df.fillna(value=0)
df.head()

,J03630_V1_V3,J03631_V1_V3,J03632_V1_V3,J03644_V1_V3,J03630_V1_V9,J03631_V1_V9,J03632_V1_V9,J03644_V1_V9
Genus,,,,,,,,
02d06,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
Adlercreutzia,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Akkermansia,1.0,22.0,211.0,566.0,0.0,57.0,776.0,4710.0
Alistipes,2.0,274.0,149.0,49.0,0.0,474.0,176.0,67.0
Anaerostipes,0.0,3.0,3.0,11.0,0.0,0.0,0.0,0.0

In [3]:
% load_ext rpy2.ipython

In [4]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

In [5]:
%Rpush df

In [6]:
%%R
head(df)

              J03630_V1_V3 J03631_V1_V3 J03632_V1_V3 J03644_V1_V3 J03630_V1_V9
02d06                    0            7            0            0            0
Adlercreutzia            7            0            0            0            0
Akkermansia              1           22          211          566            0
Alistipes                2          274          149           49            0
Anaerostipes             0            3            3           11            0
Bacteroides           3696         2212         1163          812         3560
              J03631_V1_V9 J03632_V1_V9 J03644_V1_V9
02d06                    0            0            0
Adlercreutzia            0            0            0
Akkermansia             57          776         4710
Alistipes              474          176           67
Anaerostipes             0            0            0
Bacteroides           4289         1320         1007

In [15]:
%%R
# Scott
cor.test(x=df$J03630_V1_V3, y=df$J03630_V1_V9, method='pearson')

	Pearson's product-moment correlation

data:  df$J03630_V1_V3 and df$J03630_V1_V9
t = 22.09, df = 32, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.9377878 0.9844159
sample estimates:
      cor
0.9687394

In [16]:
%%R
# IronHorse
cor.test(x=df$J03631_V1_V3, y=df$J03631_V1_V9, method='pearson')

	Pearson's product-moment correlation

data:  df$J03631_V1_V3 and df$J03631_V1_V9
t = 16.025, df = 32, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.8879627 0.9713833
sample estimates:
      cor
0.9429737

In [17]:
%%R
# Commencal
cor.test(x=df$J03632_V1_V3, y=df$J03632_V1_V9, method='pearson')

	Pearson's product-moment correlation

data:  df$J03632_V1_V3 and df$J03632_V1_V9
t = 9.9278, df = 32, p-value = 2.706e-11
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.7514830 0.9329126
sample estimates:
      cor
0.8688512

In [18]:
%%R
# Breezer
cor.test(x=df$J03644_V1_V3, y=df$J03644_V1_V9, method='pearson')

	Pearson's product-moment correlation

data:  df$J03644_V1_V3 and df$J03644_V1_V9
t = 6.4827, df = 32, p-value = 2.704e-07
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.5573010 0.8699684
sample estimates:
      cor
0.7534681